{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story-9.css' %}">
    <title>Login Page</title>
</head>
<body>
    <div class="box-of-input-signin">
        <div class="title-text">
            <div class="title">Welcome Back</div>
            <div class="optional">Don't have an account? <a class="optional-link" href="/register/">Sign up</a></div>
        </div>
        
        <form action="/" method="POST">
            {% csrf_token %}

            <div class="register-input">
                <input class="input-field" type="text" name="username" placeholder="Type your username" autocomplete="off" required>
            </div>

            <div class="register-input">
                <input class="input-field" type="password" name="password" placeholder="Type your password" required>
            </div>
            
            <div class="error-message">
                {% for message in messages %}
				    {{ message }}
        		{% endfor %}
            </div>
            
            <button type="submit" class="my-button">Sign in</button>
        </form>
    </div>
</body>
</html>