{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story-9.css' %}">
    <title>Register Page</title>
</head>
<body>
    <div class="box-of-input-signup">
        <div class="title-text">
            <div class="title">Create Account</div>
            <div class="optional">Already have an account? <a class="optional-link" href="/">Sign in</a></div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="register-input">
                {{ form.username }}
            </div>
            
            <div class="register-input">
                {{ form.password1 }}
            </div>
            
            <div class="register-input">
                {{ form.password2 }}
            </div>

            <div class="error-message">
                {% for message in messages %}
				    {{ message }}
        		{% endfor %}
            </div>

            <button type="submit" class="my-button">Sign up</button>
        </form>
    </div>
</body>
</html>