@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

body {
    font-family: 'Muli', sans-serif;
    background-color: #222831;
}

.box-of-input-signup {
    background-color: #eeeeee;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 10px #00adb5;
}

.box-of-input-signin {
    background-color: #eeeeee;
    border-radius: 20px;
    width: 300px;
    height: 270px;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 10px #00adb5;
}

.title-text {
    text-align: center;
    margin-bottom: 20px;
    color: #393e46;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.optional {
    font-size: 13px;
}

.optional-link {
    font-weight: bold;
    
    color: #222831;
}

.register-input {
    margin-bottom: 20px;   
}

.input-field {
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
}

.input-field:focus {
    box-shadow: 0px 0px 10px #22283155;
    outline: none;
}

.my-button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #00adb5;
    color: #eeeeee;
    font-weight: bold;
}

.my-button:hover {
    cursor: pointer;
    outline: none;
}

.my-button:active{
    transform: translateY(3px);
    outline: none;
    box-shadow: 0px 0px 10px #22283155;
}

.error-message {
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
}

/* ------------------landing page-------------------------*/

.content {
    margin: 20px;
}

.judul{
    font-size: 50px;
}

.judul1 {
    color: #eeeeee;
}

.judul2 {
    color: #00adb5;
}

.search-box {
    padding: 10px;
    font-size: 17px;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
}

::placeholder {
    color: #DF186C88;
}

.search-box:focus {
    outline-width: 2px;
    outline-color: #00adb5;
}

.search-button {
    padding: 10px 10px;
    background: #00adb5;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-button:active{
    transform: translateY(3px);
    outline-color: #eeeeee;
}

.fa-search {
    color: #eeeeee;
}

table {
    margin-top: 20px;
}

th, td {
    text-align: center;
    max-width: 100px;
}

.number {
    width: 20px;
}

tr:hover {
    background-color: #eeeeee22;
}

.loader {
    text-align: center;
    margin-top: 30px;
    color: #eeeeee;
    display: none;
}

.btn {
    background-color: #00adb5;
    color: white;
}

.logout-button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #00adb5;
    color: #eeeeee;
    font-weight: bold;
    font-size: 15px;   
}

.logout-button:hover {
    cursor: pointer;
    outline: none;
}

.logout-button:active{
    transform: translateY(3px);
    outline: none;
    box-shadow: 0px 0px 5px #eeeeee;
}